{% extends "base.html" %}
{% load static %}

{% block title %}
    Заказы
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'orders/css/order-form.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <p>Вы действительно хотите удалить заказ №{{ order.id }}?</p>
        <form method="post" class="order-form">
            {% csrf_token %}
            <div class="buttons">
                 <input class="delete-button" type="submit" value="Удалить">
                 <a href="{{ order.get_absolute_update_url }}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock %}
